@charset "utf-8";
/* CSS Document */

body {
	background-color:#F2B4A8;
	margin:0px;
}

#wrapper {
	width:1100px;
	min-height:700px;;
	height:auto;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding:0px;
	padding-bottom:3em;
	height: auto;
	position:relative;
}

#banner {
	background-color:#F4B36C;
	width:100%;
	height:200px;
}

#banner img{
	float:left;
	height:200px;
	margin-bottom:0px;
}

#minitool img {
	width:40px;
	height:40px;
}

#insta, #twitter, #fb, #mail{
	width:100%;
	float:left;
}

#insta p, #twitter p, #fb p , #mail p{
	margin-left:50px;
}

#insta a, #twitter a, #fb a, #mail a {
	text-decoration:none;
	color:#000;
}

h1 {
	margin-top:0px;
	float:left;
	text-align:center;
	font-size:180px;
	font-weight:500;
	font-family:cookie;
	margin-bottom:0px;
}

#navbar {
	width:100%;
	background-color:#F4DEC2;
	height:38px;
}

#navbar p {
	margin:0px;
	text-align: center;
	text-transform: uppercase;
	padding:0px;
	padding-bottom:10px;
	padding-top:10px;
	text-transform:uppercase;
	font-weight:bold;
}

#navbar ul {
	clear:both;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#navbar a {
	text-decoration: none;
	width: 15%;
	display: block;
	float:left;
	text-align: center;
	text-transform: uppercase;
	padding:0px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:0px;
	margin-bottom:0px;
	background-color:#F4DEC2;
	font-weight:bold;
	color:#000;
	border-radius:25px;
}

#minitool {
	float:right;
	width:20%;
}


#navbar a:hover, #navbar a.active {
	background-color:#E98977;
}

#footer {
	background-color:#F4B36C;
	clear: both;
	position: relative;
 	z-index: 10;
 	height: 3em;
	margin-top: -3em;
	margin-left:auto;
	margin-right:auto;
	width:1100px;
}


#footer p {
	text-align:center;
	margin:0px;
	padding-top:15px;
	font-size:20px;
}

#content {
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:0px;
	float:left;
	width:75%;
	background-color:#F8F4D7;
	min-height:450px;
	border-radius:25px;
}

#sidebar {
	margin:0px;
	margin-top:20px;
	margin-right:2%;
	padding:0px;
	width:18%;
	float:right;
	background-color:#F8F4D7;
	min-height:300px;
	border-radius:25px;
}

#sidebar img {
	width:100%;
}

#sidebar p {
	margin:8px;
	text-align:center;
}

#content p {
	margin:10px;
}

h2 {
	margin:10px;
}

h2.service {
	clear:both;
}
h2.food {
	text-align:center;
}
h2.fooddet {
	margin-top:110px;
}

img.about {
	margin:10px;
	float:left;
	width:40%;
	border-radius:25px;
}
.foodshow {
	width:155px;
	height:150px;
	float:left;
	margin:15px;
	padding:10px;
	-webkit-box-shadow: 1px 1px 15px #999999;
	box-shadow: 1px 1px 15px #999999;
	background-color:#FFF;
	text-align:center;
}

.foodshow a {
	text-decoration:none;
	color:#000;
}

.foodshow:hover {
    position:relative;
    width:180px;
    height:auto;
    display:block;
	margin:3px;
}

.foodshow img {
	width:100%;
}

.delivdesc {
	width:30%;
	height:auto;
	margin:20px;
	float:left;
	margin-top:0px;
}

.partydesc {
	width:30%;
	height:auto;
	margin:20px;
	float:left;
	margin-top:0px;
}
#line1 {
	height:300px;
	margin:0px;
	padding:0px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

table.t01 {
    width: 80%; 
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

table.t01 tr:nth-child(even) {
    background-color: #eee;
}

table.t01 tr:nth-child(odd) {
    background-color: #fff;
}

table.t01 th {
    color: white;
    background-color: black;
}


table.form {
	background-color:#F4DEC2;
	text-align: center;
	vertical-align: middle;	
	margin-left:auto;
	margin-right:auto;
	width:50%;
	border-color:#000;
}

form {
	text-align:center;
}

#contactid {
	float:left;
	width:10%;
}

#contactdetail {
	float:left;
	width:50%;
}
h2.mid {
	text-align:center;
}

#vanilla-slideshow-previous {
	position: absolute;
	left: 10px;
	top: 200px;
	width: 48px;
	height: 50px;
	cursor: pointer; 
	opacity: 0.7;
	z-index: 5; 
	display: none;
}

#vanilla-slideshow-next {
	position: absolute;
	right: 10px;
	top: 200px;;
	width: 48px;
	height: 50px;
	cursor: pointer; 	
	opacity: 0.7;
	z-index: 5; 
	display: none;
}

#vanilla-slideshow-previous:hover, #vanilla-slideshow-next:hover {
	opacity: 1;
}
#vanilla-slideshow-container { 
	width:825px;
	height:auto;
	position: relative; 
	text-align: center;
}

#vanilla-slideshow .vanilla-slide { 
	width: 100%; 
	height: 100%; 
	opacity: 0;
	background-size: cover; 
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute; 
	
}

#vanilla-slideshow .vanilla-slide.vanilla-active { 
    opacity: 1;
}

#vanilla-slideshow .vanilla-slide img {
  width: 100%;
  height: auto;
  
}

#vanilla-indicators {
	display: inline-block;
	z-index: 5;
	position: absolute;
	bottom: -430px;
	left:47%;
}

.vanilla-indicators {
	box-shadow: 0 0 10px #333333;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

.vanilla-indicators.vanilla-active {
	background-color: #ffffff;
}

.fooddesc {
	margin:20px;
	margin-top:50px;
	padding:10px;
	-webkit-box-shadow: 1px 1px 15px #999999;
	box-shadow: 1px 1px 15px #999999;
	background-color:#FFF;
	float:left;
}

img.opening {
	margin:20px;
	float:left;
	width:95%;
}

.upevents a {
	text-decoration:none;
	color:#000;
}


.upevents a:hover {
	text-decoration:underline;
}

form.addcart ul {
	list-style-type:none;
}

form.addcart {
	float:left;
	margin:20px;
	text-align:center;
	width:150px;
}

form.addcart li {
	margin-left:-40px;
}

form.viewcart {
	clear:both;
}

h2.midclear {
	clear:both;
	text-align:center;
}